
agent.version = 1.0

agent.tcp_servers = 127.0.0.1:11900
#agent.arthas_path = /Users/luqiang/Downloads/arthas-3.2.0-bin/arthas-agent.jar

agent.service_name=cubic

# Logging file_name
logging.file_name=cubic-agent.log

# Logging level
logging.level=INFO

# Logging dir
logging.dir=/tmp/logs

# Logging max_file_size, default: 300 * 1024 * 1024 = 314572800
# logging.max_file_size=314572800

# The max history log files. When rollover happened, if log files exceed this number,
# then the oldest file will be delete. Negative or zero means off, by default.
logging.max_history_files=1

