<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrix.proxy.mapper.ThreadDumpMapper">
  <resultMap id="BaseResultMap" type="com.matrix.proxy.entity.ThreadDump">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="instance_name" jdbcType="VARCHAR" property="instanceName" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="thread_dump" jdbcType="VARCHAR" property="threadDump" />
  </resultMap>

  <select id="selectThreadDumpByName" resultMap="BaseResultMap">
      SELECT *
        FROM thread_dump
       WHERE create_time > #{lastHeartbeat}
    ORDER BY instance_name
  </select>

  <select id="selectThreadDumpByTime" resultMap="BaseResultMap">
    SELECT *
      FROM thread_dump
     WHERE app_id = #{appId}
  </select>

  <select id="selectThreadDumpByAppId" resultMap="BaseResultMap">
    SELECT instance_id
      FROM thread_dump
     WHERE instance_name = #{instanceName}
       AND create_time > #{date}
  </select>
</mapper>
